*.mp4
*.wav
*.bak
*.json
*.opus
*.csv
*.txt
*.md
*.pdf
/TTS/
/rubberband-4.0.0/
/#fertig/
/venv310/
/venv_310/
/venv/
.wolf*
/wsl_venv/
/__pycache__/
/tts_temp_chunks/
/EUROPA/
/.vscode/
/madlad400-3b-mt/
/madlad400-3b-mt-int8_bfloat16/
/opus-mt-en-de-ct2/
/wheels/
/htmlcov/